<div class="task-edit-page">
<h1>Editing Task</h1>

<btn class="btns"><%= render 'form', task: @task %></btn>

<%= link_to 'Show', @task, :class => "btn btn-outline-dark" %> |
<%= link_to 'Back', tasks_path, :class => "btn btn-outline-dark" %>
</div>