<h1>Settings</h1>
<h6><%= link_to 'Logout', destroy_user_session_path, method: :delete %></h6>
<h6><%= link_to 'Categories', settings_categories_path %></h6>
<h6><%= link_to 'Tags', settings_tags_path %></h6>
<h6><%= link_to 'Home', root_path %></h6>