// Place all the styles related to the Authenticated controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  //background-image: url("wallpaper1.jpg");
}
head {
  //background-image: url(".jpg");
}

a.btn.btn-outline-dark, div.btn {
  color: #DADADA;
}

div.login-page, div.sign-up-page, div.password-new-page, div.forgot-password-page {
  background-image: url("wallpaper1.jpg");
  color: #DADADA;
  text-align: center;
  padding: 30px;
  border: 10px;
  margin: 10px;
}
div.login-page-h2 {
  //background-image: url("wallpaper1.jpg");
  color: #DADADA;
  padding: 30px;
  border: 10px;
  //margin: 10px;
  margin: 5px;
  margin-left: 40%;
  margin-right: 40%;
}
div.form-inputs {
  background-image: url("wallpaper1.jpg");
  //opacity: 0.5%;
  color: #DADADA;
  padding: 30px;
  border: 10px;
  //margin: 10px;
  margin: 5px;
  margin-left: 35%;
  margin-right: 35%;
}

image {
  opacity: 50%;
}

div.login-page {
  color: #DADADA;
}


