// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-outline-dark, input.btn {
  color: #DADADA;
}


div.homepage {
  background-image: url("wallpaper1.jpg");
  color: #DADADA;
  text-align: center;
  padding: 30px;
  border: 10px;
  margin: 10px;
}
div.homepage-h1 {
  color: #DADADA;
  padding: 30px;
  border: 10px;
  //margin: 10px;
  margin: 5px;
  margin-left: 35%;
  margin-right: 35%;
}

image {
  opacity: 50%;
}

div.anonymous-user-bar { //mj
  fontcolor: #BBBBBB;
  color: blueviolet;
}

nav.li { //mj
  //display: block;
  display: inline;
  width: 6px;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left:10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.homepage-signed-up.h6 {
  text-align: center;
}